body{

background: url(home.jpg);
background-size:cover;
background-position: center;


}
html
{
	height: 100%;
}
#content {

	text-align: center;
	padding-top: 15%;
	text-shadow: 0px 4px 3px   #0080FF,
				 0px 8px 13px  black,
				 0px 18px 23px white;
}
h1
{
	font-weight: 700;
	font-size: 5.0em;
	color: pink;

}

h2 {
	
	padding-top: 15%;
	font-weight: 600;
	color: white;
}
h3 {

	font-weight: 600;
	color: darkred;
}
hr	{

	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom:1px solid rgba(0,0,0,.2);
}
.navbar-inverse {

	background: darkred;
}
.navbar-inverse .navbar-nav>li>a{

	color:white;
}
.navbar-inverse .navbar-brand{

	color: white;
}
.active a
{
	color: white !important;
	background: red !important;
}
.active a:hover
{
	color: #0080FF !important;
	background: white !important;
}
.btn:hover {
	color :#0080FF;
	background: white;
}
.btn {

	color:white;
	background: #0080FF;
	/*text-shadow: 0px 4px 3px   yellow,
				 0px 8px 13px  brown,
				 0px 18px 23px gold;*/
}
.btn:active {
	color :#0080FF !important;
	background: black !important;
}
.btn:focus {
	color :#0080FF !important;
	background: darkblue !important;
}
.reserve {

	
}
/*.btn:visited {
	color :red !important;
	background: green !important;
}*/
/*.nav-pills > li.active > a {
		color:red;
	}*/

